<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.title}">Ozay Invited</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.reset.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.invited.message(${building.name})}">
    Dear
</p>

<p>
    <span th:text="#{email.reset.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Ozay Team.</em>
</p>
</body>
</html>
