<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.organizationUserInvitation.title}">Organization User Invitation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.organizationUserInvitation.greeting(${user.firstName})}">
    Dear
</p>
<p th:text="#{email.organizationUserInvitation.text1(${organization.name}})}">
    You are invited by Ozay.
</p>
<p>
    <a th:href="@{|${baseUrl}/#/organiation-user-register?key=${organizationUserActivationKey.key}|}">
        Register Link</a>
</p>
<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
