<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default page_content">
            <div id="page_content_title">
                GROUPS | LIST
                <div class="button_group">
                    <a href="#/management/group/{{organizationId}}/buildings/new"><button class="btn btn-default" type="submit">ADD</button></a>
                </div>
                <div class="clear"></div>
            </div>
            <!-- START table-responsive-->
            <div class="table-responsive page_content_item">
                <table  class="dataTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                        <th><a href="" ng-click="predicate = 'total_units'; reverse=!reverse">Total Unit</a></th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="building in buildings | orderBy:predicate:reverse">
                        <td></td>
                        <td><a href="#/management/group/{{organizationId}}/buildings/edit/{{building.id}}">{{building.name}}</a></td>
                        <td>{{building.totalUnits}}</td>
                        <td><a href="#/management/group/{{organizationId}}/buildings/{{building.id}}/roles">Roles</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

