<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default page_content">
            <div id="page_content_title">
                DIRECTORY
            </div>

            <!-- START table-responsive-->
            <div class="table-responsive page_content_item">
                <table class="dataTable">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th><a href="" ng-click="predicate = 'lastName'; reverse=!reverse">Name</a></th>
                        <th><a href="" ng-click="predicate = 'unit'; reverse=!reverse">Unit</a></th>
                        <th><a href="" ng-click="predicate = 'parking'; reverse=!reverse">Parking</a></th>
                        <th><a href="" ng-click="predicate = 'ownership'; reverse=!reverse">Ownership</a></th>
                        <th><a href="" ng-click="predicate = 'renter'; reverse=!reverse">Renter</a></th>
                        <th><a href="" ng-click="predicate = 'phone'; reverse=!reverse">Phone</a></th>
                        <th><a href="" ng-click="predicate = 'email'; reverse=!reverse">Email</a></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="directory in managementList | orderBy:natural(predicate)">

                        <td><span ng-if="$first">Management</span></td>
                        <td><a href="#directory/edit/{{directory.id}}">{{directory.firstName}} {{directory.lastName}}</a></td>
                        <td>{{directory.unit}}</td>
                        <td>{{directory.parking}}</td>
                        <td>{{directory.ownership}}</td>
                        <td><span ng-if="isResident(directory.renter)">Yes</span><span ng-if="!isResident(directory.renter)">No</span></td>
                        <td>{{directory.phone}}</td>
                        <td>{{directory.email}}</td>
                    </tr>
                    <tr ng-repeat="directory in staffList | orderBy:natural(predicate)">

                        <td><span ng-if="$first">Staff</span></td>
                        <td><a href="#directory/edit/{{directory.id}}">{{directory.firstName}} {{directory.lastName}}</a></td>
                        <td>{{directory.unit}}</td>
                        <td>{{directory.parking}}</td>
                        <td>{{directory.ownership}}</td>
                        <td><span ng-if="isResident(directory.renter)">Yes</span><span ng-if="!isResident(directory.renter)">No</span></td>
                        <td>{{directory.phone}}</td>
                        <td>{{directory.email}}</td>
                    </tr>
                    <tr ng-repeat="directory in boardList| orderBy:natural(predicate)">

                        <td><span ng-if="$first">Board</span></td>
                        <td><a href="#directory/edit/{{directory.id}}">{{directory.firstName}} {{directory.lastName}}</a></td>
                        <td>{{directory.unit}}</td>
                        <td>{{directory.parking}}</td>
                        <td>{{directory.ownership}}</td>
                        <td><span ng-if="isResident(directory.renter)">Yes</span><span ng-if="!isResident(directory.renter)">No</span></td>
                        <td>{{directory.phone}}</td>
                        <td>{{directory.email}}</td>
                    </tr>
                    <tr ng-repeat="directory in residentList  | orderBy:natural(predicate)">

                        <td><span ng-if="$first">Resident</span></td>
                        <td><a href="#directory/edit/{{directory.id}}">{{directory.firstName}} {{directory.lastName}}</a></td>
                        <td>{{directory.unit}}</td>
                        <td>{{directory.parking}}</td>
                        <td>{{directory.ownership}}</td>
                        <td><span ng-if="isResident(directory.renter)">Yes</span><span ng-if="!isResident(directory.renter)">No</span></td>
                        <td>{{directory.phone}}</td>
                        <td>{{directory.email}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->
