<!-- Page Heading -->
    <div class="row" ng-controller="UserDetailController">
        <div class="col-lg-12">
            <div class="page_content">
                <div class="page_content_title">
                    DIRECTORY
                </div>
                <div class="clear"></div>
                <div class="page_content_item">
                    <table id="directory_table" class="dataTable">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Name</th>
                                <th>Unit</th>
                                <th>Parking #</th>
                                <th>% Ownership</th>
                                <th>Renter</th>
                                <th>Phone</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="directory in managementList">

                                <td><span ng-if="$first">Management</span></td>
                                <td><a href="#directory/edit/{{directory.login}}">{{directory.user.firstName}} {{directory.user.lastName}} &nbsp;{{directory.lastName}}</a></td>
                                <td>{{directory.unit}}</td>
                                <td>{{directory.parking}}</td>
                                <td>{{directory.ownership}}</td>
                                <td><span ng-if="isResident(directory.renter)">Yes</span><span ng-if="!isResident(directory.renter)">No</span></td>
                                <td>{{directory.user.phone}}</td>
                                <td>{{directory.user.email}}</td>
                            </tr>
                            <tr ng-repeat="directory in staffList">

                                <td><span ng-if="$first">Staff</span></td>
                                <td><a href="#directory/edit/{{directory.login}}">{{directory.user.firstName}} {{directory.user.lastName}} &nbsp;{{directory.lastName}}</a></td>
                                <td>{{directory.unit}}</td>
                                <td>{{directory.parking}}</td>
                                <td>{{directory.ownership}}</td>
                                <td><span ng-if="isResident(directory.renter)">Yes</span><span ng-if="!isResident(directory.renter)">No</span></td>
                                <td>{{directory.user.phone}}</td>
                                <td>{{directory.user.email}}</td>
                            </tr>
                            <tr ng-repeat="directory in boardList">

                                <td><span ng-if="$first">Board</span></td>
                                <td><a href="#directory/edit/{{directory.login}}">{{directory.user.firstName}} {{directory.user.lastName}} &nbsp;{{directory.lastName}}</a></td>
                                <td>{{directory.unit}}</td>
                                <td>{{directory.parking}}</td>
                                <td>{{directory.ownership}}</td>
                                <td><span ng-if="isResident(directory.renter)">Yes</span><span ng-if="!isResident(directory.renter)">No</span></td>
                                <td>{{directory.user.phone}}</td>
                                <td>{{directory.user.email}}</td>
                            </tr>
                            <tr ng-repeat="directory in residentList">

                                <td><span ng-if="$first">Resident</span></td>
                                <td><a href="#directory/edit/{{directory.login}}">{{directory.user.firstName}} {{directory.user.lastName}} &nbsp;{{directory.lastName}}</a></td>
                                <td>{{directory.unit}}</td>
                                <td>{{directory.parking}}</td>
                                <td>{{directory.ownership}}</td>
                                <td><span ng-if="isResident(directory.renter)">Yes</span><span ng-if="!isResident(directory.renter)">No</span></td>
                                <td>{{directory.user.phone}}</td>
                                <td>{{directory.user.email}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
