
    <div class="row">
        <div class="col-lg-12">
            <div class="page_content">
                <div class="page_content_title">
                    DIRECTORY Details
                    <div class="button_group">
                        <button class="btn btn-default" type="submit" ng-disabled="!button">Submit</button>
                        <button class="btn btn-default" type="button">Cancel</button>
                    </div>
                </div>
                <div class="clear"></div>
                <div id="directory_detail_page" class="page_content_item">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">First Name</label>
                                <input class="form-control" type="text" value="{{UserDetail.user.firstName}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Last Name</label>
                                <input class="form-control" type="text" value="{{UserDetail.user.lastName}}">
                            </div>
                        </div>


                            <div class="col-lg-6">
                                <div class="form-group">
                                <label class="control-label">Apt #:</label>
                                <input class="form-control" type="text" value="{{UserDetail.unit}}">
                            </div>
                        </div>


                            <div class="col-lg-6">
                                <div class="form-group">
                                <label class="control-label"># Parking:</label>
                                <input class="form-control" type="text" value="{{UserDetail.parking}}">
                            </div>

                        </div>
                        <div class="clear"></div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">% Ownership</label>
                                <input class="form-control" type="text" value="{{UserDetail.ownership}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Email</label>
                                <input class="form-control" type="text" value="{{UserDetail.user.email}}">
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Phone#</label>
                                <input class="form-control" type="text" value="{{UserDetail.user.phone}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Role</label>
                                <ul class="ozay-checkbox_ul block_4">
                                    <li ng-class="{'active': obj.isChecked,'inactive': !obj.isChecked}" ng-repeat="obj in roleList"><a ng-click="obj.isChecked = !obj.isChecked"><input ng-model="obj.isChecked"  type="checkbox" value='1' name="{{obj.name}}">{{obj.label}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Renter</label>
                                <ul class="ozay-checkbox_ul block_4">
                                    <li ng-class="{'active': model.radioBox == obj.value, 'inactive': model.radioBox != obj.value}" ng-repeat="obj in renterList"><a ng-click="model.radioBox = obj.value">{{obj.label}}</a><input ng-model="model.radioBox" type="radio" name="model.name" value="{{obj.value}}" ng-value="{{obj.name}}"></li>
                                </ul>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Expiration date</label>
                                <input class="form-control" min="{{minDate| date:'yyyy-MM-dd'}}" type="date" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- /.row -->
