<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default page_content">
            <div id="page_content_title">
                GROUP | LIST
                <div class="button_group">
                    <a href="#/management/group/new"><button class="btn btn-default" type="submit">ADD</button></a>
                </div>
                <div class="clear"></div>
            </div>
            <!-- START table-responsive-->
            <div class="table-responsive page_content_item">
                <table id="notification_archive_table" class="dataTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                        <th colspan="2"><a href="" ng-click="predicate = 'name'; reverse=!reverse">Action</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="organization in organizations | orderBy:predicate:reverse">
                        <td></td>
                        <td>{{organization.name}}</td>
                        <td><a href="#/management/group/edit/{{organization.id}}">EDIT</a></td>
                        <td><a href="#/management/buildings/{{organization.id}}">Buildings</a></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

