<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default page_content">
            <div id="page_content_title">
                ORGANIZATION USER | LIST
                <div class="button_group">
                    <a href="#/management/group/{{organizationId}}/users/new"><button class="btn btn-default" type="submit">ADD</button></a>
                </div>
                <div class="clear"></div>
            </div>
            <!-- START table-responsive-->
            <div class="table-responsive page_content_item">
                <table  class="dataTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">First Name</a></th>
                        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Last Name</a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="organizationUser in organizationUsers | orderBy:predicate:reverse">
                        <td></td>
                        <td><a href="#/management/group/{{organizationId}}/users/edit/{{organizationUser.id}}">{{organizationUser.name}}</a></td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

