<div id="login_wrapper">
    <div class="flex">
        <div style="width:100%">
            <img id="logo" class="displayed" src="../images/OZAY_LOGIN_bg.png" width="90%" />
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form class="form" role="form">
                            <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                                <strong>Authentication failed!</strong> Please check your credentials and try again.
                            </div>
                            <div class="form-group">
                                <input ng-model="username" placeholder="Username/Email" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Password" type="text" ng-model="password">
                            </div>
                            <div class="form-group">
                                <button id="login_btn" type="submit" class="btn btn-primary" ng-click="login()" translate="login.form.button">Authenticate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
