<!-- Page Heading -->
<form name="notification_form" class="simple-form" ng-submit="notification_form.$valid && create(notification)">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default page_content">
                <div id="page_content_title" class="panel-heading">
                    NOTIFICATIONS | CREATE
                    <div class="button_group">
                        <button class="btn btn-default" type="submit" ng-disabled="!button">Send</button>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="form-group">
                    <div class="alert alert-success" ng-show="showSuccessAlert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        Success
                    </div>
                    <div class="alert alert-danger" ng-show="showErrorAlert">
                        <strong>{{errorTextAlert}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Filter</label>
                    <div class="col-sm-9">
                        <ul class="ozay-checkbox_ul">
                            <li ng-class="{'active': role[obj.id],'inactive': !role[obj.id]}" ng-repeat="obj in roleList"><a ng-click="role[obj.id] = !role[obj.id];memberRoleClicked(obj.id, role[obj.id], role);"><input ng-model="role[obj.id]" type="checkbox">{{obj.name}}</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="clear mb-25"></div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">List</label>
                        <div class="col-sm-9">
                            <div ng-dropdown-multiselect="" options="individualList" selected-model="selectedUsers" extra-settings="multiSelectSettings" events="eventSettings"></div>
                        </div>
                    </div>
                </div>
                <div class="clear mb-25"></div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Subject</label>
                    <div class="col-sm-9">
                        <input ng-model="notification.buildingId" type="hidden" value="{{building_id}}">
                        <input ng-model="notification.subject" placeholder="[Type subject here]" class="form-control">
                    </div>
                </div>
                <div class="clear mb-25"></div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 col-lg-3">Message</label>
                    <div class=" col-xs-12 col-sm-9 col-lg-9">
                        <div ng-model="notification.notice"></div>
                        <textarea ng-model="notification.notice" placeholder="[Type text here]" class="form-control" rows="5" ng-required="true"></textarea>
                    </div>
                </div>
                <div class="clear mb-25"></div>
                <div class="form-group">
                    <label class="col-sm-3">Issue Date?</label>
                    <div class="col-sm-9">
                        <input ng-model="notification.issueDate" min="{{minDate| date:'yyyy-MM-dd'}}" class="form-control" type="date" ng-required="true">
                    </div>
                </div>
                <div class="clear mb-25"></div>
            </div>
        </div>
    </div>


    <!-- /.row -->
</form>
