<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default page_content">
            <div id="page_content_title">
                ROLE | LIST
                <div class="button_group">
                    <a href="#/management/organization/{{organizationId}}/buildings/{{buildingId}}/roles/new"><button class="btn btn-default" type="submit">ADD</button></a>
                </div>
                <div class="clear"></div>
            </div>
            <!-- START table-responsive-->
            <div class="table-responsive page_content_item">
                <table  class="dataTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                        <th><a href="" ng-click="predicate = 'sortOrder'; reverse=!reverse">Sort Order</a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in roles | orderBy:predicate:reverse">
                        <td></td>
                        <td><a href="#/management/organization/{{organizationId}}/buildings/{{buildingId}}/roles/edit/{{role.id}}">{{role.name}}</a></td>
                        <td>{{role.sortOrder}}</td>
                        <td><div><select style="background-color:white;" class="form-control" ng-model="role.sortOrder" ng-change="processSort(role, '{{role.sortOrder}}')" ng-options="item.id as item.display for item in sortDropDown"></select></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

