<div class="search-result">
Search Result: "{{searchItem}}"
</div>

<div ng-repeat="group in searchResult">

    <div ng-repeat="item in group.list">

        <div ng-if="group.type == 'Directory'">
            <div ng-if="$first == true" class="search-item-title">
                Directory Result
            </div>
            <div>
                <a href="#/directory/edit/{{item.id}}">{{item.firstName}} {{item.lastName}}</a>
            </div>
        </div>
        <div ng-if="group.type == 'Notification'">
            <div ng-if="$first == true" class="search-item-title">
                Notification Result
            </div>
            <div>
                <a href="#/notification_archive">{{item.subject}}{{item.subject}}</a>
            </div>
        </div>

    </div>
</div>
