body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */



body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #black;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

body{
    margin-top:50px;
}

#top_header{
    background-color:#FFC600;
    border:none;
    min-height:51px;
}

.side-nav{
    background-color:#E4E5E0;
    border-right: 2px solid white;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #B5B6B1;
}

#page-wrapper{
    background-color:#F3F5F4;
    margin-top:90px;
}
#user_area{
    width: 225px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.nav-profile{
    min-width:225px;
    background-color:#F3F5F4;
    min-height:90px;

}

.nav > li{
    border-bottom:1px solid white;
}

.nav > li.nav-profile .image {
    border-radius: 50%;
    float: left;
    height: 34px;
    margin-right: 15px;
    margin-top: 2px;
    overflow: hidden;
    width: 34px;
}

.nav > li.nav-profile .info {
    font-size: 14px;
    float:left;
    color:#000000;
}

.nav > li.nav-profile .info p{
    margin:0;
}

.nav > li.nav-profile .info h4{
    margin:0;
    margin-top:5px;
}


.nav > li.nav-profile .info:after{
    clear:both;
}

.nav > li.nav-profile .info small {
    color: #889097;
    display: block;
}
.small{
    font-size: 85%;
}


.nav > li.nav-profile .image img {
    max-height: 100%;
    max-width: 100%;
}
.nav > li.nav-profile {
    color: #fff;
    padding: 7px;
    padding-top:0;
    padding-bottom:10px;
}

.side-nav > li > ul > li > a{
    background-color:#F3F5F4;
}

.side-nav > li > ul > li > a:hover{
    background-color:#F3F5F4;
    color:black;
}

.side-nav > li > ul > li > a:focus{
    background-color:#F3F5F4;
    color:black;
    font-weight: bold;
}
#navbar-collapse{
    margin:0;
    border:none;
    background-color:#F3F5F4;
}

.page_title{
    padding: 40px 0px 0px 40px;
    width:100%;
    background-color:#E4E5E0;
    min-height:90px;
    top: 50px;
    z-index: 1000;
    position:fixed;
}
.page_title span{
    font-size:20px;
}
.row > .col-lg-12 > .page_content{
    background-color:#ffffff;

}

.page_content_title{
    font-size:18px;
    padding: 19px 0px 5px 20px;
    width:100%;
    background-color:#E7E3E4;
    float:left;
}

.page_content_title > .button_group{
    float:right;
    white-space: nowrap;
    margin-right:20px;
}

.btn{
    padding-left:30px;
    padding-right:30px;
    border-radius : 0;
}

.page_content_item{
    padding-top:20px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:20px;
}
.page_content_item, .page_content_item div{
    background-color:white;
}

.page_content{
    border:1px solid black;
}

.page_content_item input{
    width:100%;
}
input, textarea{
    margin-bottom:15px;
    background-color:#F1F5F4;
}
.form-control{
    background-color:#F1F5F4;
}

.clear{
    clear:both;
}



[class^="icon-"], [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:focus > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:focus > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:focus > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:focus > a > [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings-white.png");
}

@media
    only screen and (max-width: 992px),
    (min-device-width: 992px) and (max-device-width: 1024px)  {
    table.dataTable{
        margin-top:20px;
    }
    /* Force table to not be like tables anymore */
    table.dataTable, .dataTable thead, .dataTable tbody, .dataTable th, .dataTable td, .dataTable tr {
    display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .dataTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    }

    .dataTable tr { border: 1px solid #ccc; }

    .dataTable td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    }

    .dataTable td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    }

    /*
    Label the data
    */
    #notification_archive_table td:nth-of-type(2):before { content: "Date"; }
    #notification_archive_table td:nth-of-type(3):before { content: "Subject"; }
    #directory_table td:nth-of-type(2):before { content: "Name"; }
    #directory_table td:nth-of-type(3):before { content: "Unit"; }
    #directory_table td:nth-of-type(4):before { content: "Parking #"; }
    #directory_table td:nth-of-type(5):before { content: "% Ownership"; }
    #directory_table td:nth-of-type(6):before { content: "Renter"; }
    #directory_table td:nth-of-type(7):before { content: "Phone"; }
    #directory_table td:nth-of-type(8):before { content: "Email"; }
    }

.dataTable thead th{
    height:50px;
}

.dataTable{
    width:100%;
}

.dataTable th{
    padding:5px 10px 5px 10px;
    background-color:#F1F5F4;
}

.dataTable th:first-child{
    min-width:20px;
    background-color:#E4E5E0;

}

.dataTable th:nth-child(2){
    width:100px;
}

.dataTable .blank_td{
    height:20px;
}
@media (min-width: 992px) {
.dataTable td{
         padding:10px 10px 10px 10px;
     }
 }
 .dataTable th{
    border-bottom:20px solid white;;

 }
@media (max-width: 992px) {


.dataTable td, .dataTable th{
       padding-top:6px;
       padding-bottom:6px;
       min-height:30px;
     }


 }

.dataTable td:first-child{
    text-align:right;
    vertical-align: top;
}

.dataTable td:not(.blank_td):not(:first-child){
    background-color:#F1F5F4;
}

#top_logo, #navbar-collapse{
    background-color:#FFC600;
}

#top_logo{
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    }

#logo_wrap{
    position : fixed;
    padding:0;
    left:50%;
}

@media (max-width: 767px) {
    #logo_wrap{
        left:43%;
    }
 }

.right_label label{
    text-align:right;
}

.ozaycheckbox{
    backg_round-color:black;
}


#login_background{
    position:relative;
    top:20%;
}



img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#logo{
    width:340px;
}

.form-group label{
    display: table-cell;
    vertical-align: bottom;
    height:20px;
}

.form-group > .col-lg-5{
    text-align:right;
}

.form-group label{
    margin-top:10px;
}

#footer{
    position:fixed;
    bottom:0;
    height:50px;
    background-image: url("../../images/people.png");
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    height:100%;
    background-color:#FFC600;
}
.ng-scope, #navbar-collapse ul{
    height:100%;
}

#wrapper{
background-color:#F3F5F4;
position:fixed;
width:100%;
overflow:auto;
}

body, html {
  height: 100%;
}
.nav-profile .info h4{
    margin-top:6px;
}



textarea{
    resize: none;
}
.page_content{
    margin-top:18px;
    margin-left:5px;
    margin-bottom:70px;
}



 .form_type_1 .form-group label{
         text-align:right;
     }



/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
 .form_type_1 .form-group label{
         text-align:left;
     }
 }
 .ozay-checkbox_ul{
    padding:0;
    margin:0;
 }
 .ozay-checkbox_ul li{
    width:25%;
    display: inline-block;
    background-color:#F1F5F4;
    text-align:center;
    border-right:2px solid white;
 }

 @media (max-width: 767px) {
   .ozay-checkbox_ul li{
          width:100%;
      }
  }

 .ozay-checkbox_ul li.active{
     background-color:#999;
  }
   .ozay-checkbox_ul a{
       text-decoration:none;
       color:black;
       line-height:50px;
    }
    .ozay-checkbox_ul a:hover{
           color:black;

        }

  .ozay-checkbox_ul li.inactive{
      background-color:#F1F5F4;
   }
  .block_4 li a{
    cursor:pointer;
    height:40px;
    display:block;
  }
.ozay-checkbox_ul input{
    display:none;
}
 @media (min-width: 767px) {
    #directory_detail_page .form-group{
        height:70px;
    }
 }
select#building_list{
    display: block;
    margin: 0 auto;
    width:100%;
    position:relative;
    background: url("../images/down.png") no-repeat right white;
    color:black;
    padding:3px 0px 3px 10px;
    background-size: 20px 20px;
    border: 1px solid #ccc;
    border-top:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius:0;
    border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

}


img.arrow{
    float:right;
    height:15px;
    content:url("../images/down_white.png");
}


a.collapsed img.arrow{
    float:right;
    height:15px;
    content:url("../images/down.png");
}

ul.nav{
    margin-bottom:0;
}


